.login-form-container{
    margin-left: 0px;
    margin-right: 0px;
}

.auth-form-label-row{
    margin-top: 25px;
    margin-bottom: 5px;
}

.auth-form-btn-row{
    margin-top: 30px;
}

.login-btn{
    width: 100%;
}