<div class="row login-form-container">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
    <form [formGroup]="loginForm" novalidate (submit)="login()">
      <div class="alert alert-danger small" *ngIf="loginResp.error">
        {{ loginResp.message }}
      </div>

      <div class="row auth-form-label-row">
        <div class="col-12">
          Username
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            placeholder="username"
            formControlName="username"
          />
          <span
            class="small text-danger"
            *ngIf="submitted && loginForm.controls['username']?.errors?.required"
          >
            {{ formErrors.required }}
          </span>
        </div>
      </div>
      <div class="row auth-form-label-row">
        <div class="col-12">
          Password
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input
            type="password"
            class="form-control"
            placeholder="password"
            formControlName="password"
          />
          <span
            class="small text-danger"
            *ngIf="submitted && loginForm.controls['password']?.errors?.required"
          >
            {{ formErrors.required }}
          </span>
        </div>
      </div>
      <div class="row auth-form-btn-row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary login-btn">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
</div>
