<div class="container main-container">
  <mat-toolbar color="primary" class="user-toolbar-container">
    <mat-toolbar-row>
      <span>
        <a [routerLink]="['/home']"
          ><img src="assets/images/logo.png" alt="logo" class="responsive logo"
        /></a>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          class="user-links mat-button mat-button-base"
          mat-button
          >Blogs</a
        >
        <a
          *ngIf="!user"
          [routerLink]="['/admin']"
          routerLinkActive="active"
          class="user-links mat-button mat-button-base"
          mat-button
          >Admin</a
        >

        <button *ngIf="user" class="user-links btn btn-sm" (click)="logout()">
          Logout ( <strong>{{ user.email }}</strong> )
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav-content fxFlexFill class="main-page-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
