/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}
.mat-card-header-text {
  margin: 0 0 !important;
}
